fastapi==0.115.13
uvicorn[standard]==0.33.0
pydantic==2.10.6
pydantic-settings
email-validator
python-dotenv==1.0.1
motor==3.6.1
black
passlib[bcrypt]
python-jose
python-multipart
anthropic
pandas
beautifulsoup4
emoji
openai
httpx
pinecone-client